<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>InterestQuest</title>

    <link type=text/css rel=stylesheet href="../public/styles/styles.css">
    

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.js" 
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" 
    crossorigin="anonymous"></script>

    <script src= "../public/js/game_main.js"></script>


  </head>
  
  <body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Game Title Here</h1>
          <p class="lead">game description here</p>
        </div>
      </div>

    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2" id="recent-players">Recent Players
          </div>

          <div class="col-lg-8" id="game-canvas">

            <canvas id="gameCanvas" width="480" height="480"></canvas>

          </div>

          <div class="col-sm-2" id="high-scores">High Scores
          </div>

        </div>
      </div>

  </body>
</html>