body {
  background-color: black;
}

div {
  font-family: 'MedievalSharp', cursive;
}


h1{
  text-align: center; 
}


.jumbotron{
  background-image: url(../assets/background.png);

}


.list-group-item {
  line-height: 2.5;
}



.panel {
  color: white;
  margin: 2px;
  text-align: center;
  border-width: 2px;
  border-style: solid; 
  border-color: black;
  
}

#msg-container{
  padding: 30px;

}

#messages{
  display: block;
  width: 100%;
  height: 100%;
  padding: 10%;
  background-image: url(../assets/background.png);
  
}


#recent-players{
  float: left;
}

#high-scores{
  float: right;
}


#gameCanvas{
  display: block;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../assets/background.png);
}

@media screen and (max-width: 991px) {
  .container { display: flex; flex-flow: column; }
  .game-canvas { order: 1; }
  #recent-players { order: 2; width: 100%;}
  #high-scores { order: 3; width: 100%}
}

